:root {
    --background: rgb(13, 13, 13);
    --letters-white: #fafafa;
    --letters-orange: rgb(252, 63, 11);
}


html {
    font-size: 17px;
    scroll-behavior: smooth;
    
}

button {
    font-family: 'Outfit', sans-serif;
    color: var(--letters-white);
    background-color: var(--letters-orange);
    border: none;
    height: 45px;
    font-weight: 200;
    width: 50%;
    font-size: 17px;
    border-radius: 3px;
    margin-top: 1.2rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;

}


h2 {
    font-size: 3rem;
    font-weight: 200;
}

p {
    font-weight: 100;
}

main {
    width: 100%;
}
section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 150px;
}

/* HEADER */

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    padding: 30px 150px;
    background-color: var(--background);
    color: var(--letters-white);
    height: 17vh;
    width: 100%;
    z-index: 2;
    border-bottom: 1px solid var(--letters-white);
}

.label-cart {
    padding: 9px 15px;
    border: 1px solid var(--letters-white);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.label-cart img {
    height: 24px;
    width: 26px;
}

.container-labels {
    display: flex;
    align-items: center;
    gap: 1rem;

}

.label-login{
    height: 43px;
    width: 43px;
    border-radius: 100%;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;

}
.label-login img{
    height: 28px;
    width: 28px;

}

.logo-header {
    height: 16vh;
    position: absolute;
    left: 45%;
}








.label-menu {
display: none;
}

.nav-bar__ul {
    display: flex;
    list-style-type: none;
    padding: 0;

}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
}

.nav-bar__ul li {
    margin: 0.1rem 0.5rem;
    position: relative;
}

.nav-bar__ul li:after {
    content: '';
    position: absolute;
    height: 3px;
    background-color: var(--letters-orange);
    box-shadow: 0px 0px 2px black;
    bottom: -5px;
    right: 0%;
    width: 0%;
    transition: .5s;
}

.nav-bar__ul li:hover::after {
    content: '';
    width: 100%;
    left: 0%;
}


a {
    text-decoration: none!important;
    color: var(--letters-white)!important;
}

.collection-ul {
    list-style-type: none;
    display: none;
    padding: 0;
}



/* HERO */


#hero {
padding: 100px 150px;
background-image: url('hero/background.jpg');
background-size: cover;
background-position: center;
background-attachment:fixed;
height: 83vh;
width: 100%;
position: relative;
color: white;
gap: 2rem;
display: flex;
justify-content: space-between;
}

#hero > * {
    position: relative;
}

#hero::before {
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(13,13,13,1) 5%, rgba(13,13,13,0.8) 50%, rgba(13,13,13,1) 95%);
}

.hero-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    /* width: 450px; */
}



.tittle-hero, .hero-left span {
    background-color: none;
    font-size: 3.6rem;   
    font-weight: 500;
    z-index: 0;

}

.hero-right {
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.hero-right img {
    height: 100%!important;
    width: 100%;
    /* object-fit: cover; */


}




/* SECTION DOS */

#section-dos {
    background-color: #fafafa;
    height: 84vh;
    width: 100%;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

#section-dos h2 {
    margin-top: 1rem;
    font-weight: 200;
}



.carrousel-general {
width: 1200px;
height: 550px;
border-radius: 12px;
overflow: hidden;
position: relative;
margin-bottom: 2rem ;
}




.carrousel-big {
    width: 400%;
    height: 100%;
    display: flex;
    position: relative;
    border-radius: 12px;
    transition: all .5s;
    transform: translateX(0%);
}

.points {
    position: absolute;
    bottom: 4%;
    right: 47%;
    display: flex;
    gap: 0.4rem;
    list-style-type: none;

}

.point {
    cursor: pointer;
    height: 12px;
    width: 12px;
    border-radius: 100%;
    border: none;
    background-color: var(--letters-white);
}

.activePoint {
    transition: all 0.2s linear;
    transform: scale(0.9);
    background-color: var(--letters-orange) ;
}




.big-divs {
    width: calc(100% / 4);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.big-divs img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;

}

.big-divs img:hover {
    transform: scale(1.2);
    transition: all 0.7s;
    cursor: pointer;
}

.divs-footer {
    background-color: rgba(0, 0, 0, 0.936);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 33%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center!important;
}

.divs-footer h2 {
    font-size: 3.5rem;
    /* color: var(--letters-white); */
    color: var(--letters-orange);
}

.divs-footer p {
    font-size: 1rem;
    color: var(--letters-white);

}


/* SECTION TRES */
#section-three {
    color: var(--letters-white);
    height: 85vh;
    background-image: url('section-three/background.jpg');
    background-position: center;
    display: flex;
    justify-content: flex-end;
    position: relative;
  
}

#section-three::after {
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.35);
    z-index: 0;
}

#section-three h2 {
    color: var(--letters-orange);
}

#section-three img {
  height: 300px;
}

.section-three__right {
    z-index: 1;
    width: 40%;
    display: flex;
    flex-direction: column;
    
}
/* SECTION FOUR */
#section-four{
    min-height: 66vh!important;
    width: 100%;
    background-color: var(--background);
    padding: 0!important;
  
}

.section-four__right, .section-four__left {
    width: 50%;
    height: 100%!important;
}

.section-four__left h2 {
    color: var(--letters-orange);
    font-size: 3rem;
}

.form-contact {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 1rem;
}

input {
    padding: 0.5rem;
    width: 100%;
    border: none;
    border-bottom: 2px solid var(--background);
}

.textarea {
    width: 100%;
    border: none;
    border-bottom: 2px solid var(--background);
    font-family: 'Outfit', sans-serif!important;
}

.section-four__left{
    background-color: var(--letters-white);

    display: flex;
    flex-direction: column;
    padding: 3rem 3rem 3rem 150px;

}

.section-four__right{
    background-color: var(--background);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.section-four__right img {
    height: 80%;

}


/* FOOTER */

footer {
    height: 17vh;
    background-color: var(--letters-white);
    border-top: 1px solid var(--background);
}






