.cards-container {
    height: 100%;
    width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding: 1rem 0;
	gap: 1.5rem;
}

.product-card {
    height: 420px;
	width: 260px;
	border-radius: 5px;
    box-shadow: 0 10px 10px -5px;
    background-color: rgb(250, 250, 250);
	color: var(--background);
	padding: 1rem;
	animation: fade .33s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes fade {
0% {
	height: 0;
	width: 0;
}



}

.container-img__product {
	height: 60%;
	width: 100%;
}

.container-img__product img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 6px;
}

.container-info__product {
	padding-top: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 40%;
	width: 100%;
	text-align: center;
}

.container-info__product p {
	font-weight: 300;
}

.container-info__product h3 {
	font-size: 1.25rem;
}

.container-info__product button {
	width: 100%;
	margin: 0;

}

.add-cart {
	display: flex;
	align-items: center;
	justify-content: center;
}

.add-cart img {
	height: 20px;
}

.add-cart:hover {
	background-color: transparent;
	border: 1px solid var(--background);
	color: var(--background);
}

.add-cart:hover .button-add__icon{
	display: none;
}

.container-img__product img:hover {
	transform: scale(1.1);
	transition: all 1s;
}



/* CARD DEL CARRITO*/


.cart-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
	background-color:rgba(128, 128, 128, 0.103);
	padding: 15px 12px;
	/* border: 1px solid var(--background); */
	border-radius: 6px;
	box-shadow: 0 7px 7px -6px;

}
  
  .cart-item img {
  height: 50px;
  width: 50px;
  }
  
  .cart-item p {
	font-size: 1rem;
  }
  
  .item-info {
	display: flex;
	flex-direction: column;
	min-width: 110px;
  }
  
  .item-title {
	font-weight: 700;
	font-size: 0.9rem;
  }
  
  .item-bid {
	font-weight: 300;
	font-size: 12px;
  }
  
  .item-price {
	background: linear-gradient(to right, var(--letters-orange), #ffffff);
	background-clip: text;
	color: transparent;
	-webkit-background-clip: text;
	font-size: 16px;
	font-weight: 800;
  }
  
  .item-handler {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 12px;
  }
  
  .quantity-handler {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2px 8px;
	border-radius: 5px;
	font-weight: 400;
	border: 1px solid var(--letters-orange);

  }
  
  .item-quantity {
	color: var(--text-gray);
  }
  
  .up {
	background-color:rgba(128, 128, 128, 0.472);
	color: white;
	font-weight: 900;
  }
  
  .down {
	background-color:rgba(128, 128, 128, 0.472);
	color: white;
	font-weight: 900;
  }

