body {
    position: relative;
}

section {
    background-color: var(--letters-white);
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('./img/login/wooden-surface-looking-out-people-bar.jpg');
    background-size: cover;
    background-position: bottom;
}


header {
    position: absolute;
    background-color: transparent!important;
    background: transparent!important;
    border: none;
    display: flex;
    padding: 1rem;
    justify-content: flex-start;

}

.nav-bar {
    display: flex!important;
    align-items: center;
    justify-content: flex-start;
    border: none!important;
}

.back-home {
    color: var(--letters-white);

}

header img {
    height: 24px;
}

.container-login {
    width: 50%;
    height: 500px;
    border-radius: 5px;
    background-color: #fafafa8a;
    box-shadow:  0 10px 10px -4px;
    padding: 0!important;
    display: flex;
    flex-direction: column;
    align-items: center;
    

}

.form-top {
    background-color: rgba(13, 13, 13, 0.592);
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px 5px 0px 0px;
    padding: 0.3rem;
}






.form-contact {
    height: 85%;
    width:100%;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.form-top img {
    /* width: 80%; */
    height: 100%;
}


.form-contact button {
    width: 90%;
    min-height: 3rem;
}

.form-contact a {
    color: var(--background)!important;
    font-weight: 300;
}

.forgot-password {

    align-self: self-end;

}

.register {
    font-weight: 500!important;
}

.form-contact p {
    font-weight: 200;
}


.container-login h3 {
    /* color: var(--letters-orange); */
    font-size: 2.5rem;
    font-weight: 100;

}

