




@media only screen and (max-width: 1279px){

    html {
        font-size: 16px;
    }
    


    .container {
        max-width: 980px!important;
    }




    #hero img{
        z-index: 1;
        position: relative;
    }

}

@media only screen and (max-width: 1024px){

    html {
        font-size: 15px;
    }

    .whatsapp-sticky {
        bottom: 50px;
    }

    .whatsapp-sticky > * {
        position: relative;
        right: -1px
    }

    .container {
        max-width: 720px!important;
    }

    #hero img{
        width: 400px!important;
        z-index: 1;
        position: relative;
    }

    .hero-left button {
        z-index:2;
        position: relative;
        width: 60%;
    }

    .logo-header {
        height: 80%;
    }

    /* LOGIN.HTML */
    .container-login {
        width: 60%!important;
    }

    /*PRODUCTS.HTML*/

    .section-uno__products .product-card {

            height: 400px!important;
            width: 210px!important;

    }

    .section-uno__products h1 {
        font-size: 2.5rem;
    }
}

@media only screen and (max-width:768px)  { 
    /* tablet, landscape iPad, lo-res laptops ands desktops */ 

    html {
        font-size: 15px;
    }

    .section-uno__products .product-card {
        height: 400px!important;
        width: 260px!important;

    }

    .tittle-hero {
        background-color: none;
        display: inline-block;
        font-size: 2.5rem;
        font-weight: 800;
    }

    #section-dos h2 {
        font-size: 2.8rem;

    }

    .carrousel-big {
        width: 1000%;
    }

    .seven-carrousel, .eight-carrousel, .nine-carrousel, .ten-carrousel {
        display: block;
    }

    .form-search {
        width: 220px!important;
    }

    .container {
        max-width: 550px!important;
    }

    .logo-header {
        height: 75%;
    }

    #hero img{
        width: 350px!important;
        z-index: 1;
        position: relative;
    }

    .section-three__right {
        width: 60%;
    }

    .section-four__left h2 {
        letter-spacing: 22px;

    }

    /* LOGIN.HTML */

    .container-login {
        width: 70%!important;
    }



    
}

@media only screen and (max-width: 600px)  {

    

    .form-search {
        display: block;
    }

    .form-search {
        display: none;
    }

    .nav-bar__ul {
        display: none;
    }

    .header-bottom .container {
        justify-content: flex-start;
    }

    .burger-menu {
        display: none;
        position: absolute;
        top: -0px;
        left: 0px!important;
        right: 40%;
        min-height: 100vh;
        height: 100%;
        padding: 22vh 20px;
        background-color: var(--letters-white);
        z-index: 100;
        box-shadow: 0 10px 10px -5px;
        animation: slide-right 1s cubic-bezier(0.075, 0.82, 0.165, 1);
        font-size: 1.5rem;
    }

    .burger-list li {
        width: max-content;
    }

    .burger-list li:after {
        content: '';
        position: absolute;
        height: 3px;
        background-color: var(--letters-orange);
        box-shadow: 0px 0px 2px black;
        bottom: -5px!important;
        right: 0%;
        width: 0%;
        transition: .5s;
        z-index: 3000;
    }
    .burger-list li:hover::after {
        content: '';
        width: 100%;
        left: 0%;
        z-index: 3000;
    }

    @keyframes slide-right {

        0%{
            transform: translate(-1000px);
            opacity: 0;
        }

        100%{
            transform: translate(0);
            opacity: 1;
        }
        
    }

    .burger-list {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .nav-bar {
        border: 1px solid var(--background)!important;
        border-radius: 5px;
        z-index: 1;
    }

    .label-menu {
        display: flex;

    }

    .tittle-hero {

        font-size: 2.1rem;
  
    }

    .container {
        max-width: 450px!important;
    }

    .logo-header {
        height: 70%;
    }

    #hero img{
        width: 250px!important;
        z-index: 1;
        position: relative;
    }
    .section-three__right {
        width: 70%;
    }

    .section-four__left h2 {
        letter-spacing: 12px;

    }

    #section-dos h2 {
        font-size: 2.5rem;

    }

    /* PRODUCTS.HTML */

    .section-uno__products {
        align-items: flex-start;
        margin-top: 2rem;
    }

    .section-uno__products .container {
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .aside-products {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    .div-tittle-aside img {
        display: block;
    }

    .rotateIconRight {
        transform: rotate(90deg);
        transition: all .25s;
    }

    .aside-products {
        width: 100%;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .aside-tittle {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .aside-tittle img {
        display: block;
        }

    .aside-tittle img {
        height: 24px;
        width: 24px;

    }
    .container-categorys {
        color: var(--background);
        background-color: rgb(253, 253, 253);
        width: 100%;
        position: absolute;
        top: 56px;
        box-shadow: 0 10px 10px -5px;
        display:none;
        border-top: 1px solid rgba(128, 128, 128, 0.211);
    }
    




}


@media only screen and (max-width:490px)  { 
    /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ 

    html {
        font-size: 15px;
    }

    .container {
        max-width: 370px!important;
        justify-content: flex-start;
    }

    .container-labels {
        transform: scale(0.9);
    }

    #hero img{
        display: none;
    }

    .tittle-hero {

        font-size: 3rem;
    }

    .hero-left button {
        width: 80%;
    }

  

    .section-three__right {
        width: 80%;
    }

    #section-four {
        background: white!important;
    }

    .section-four__right {
        display: none;
    }

    .section-four__left {
        height: 100%;
        width: 100%;
        padding: 0;
    }

    .section-four__left h2 {
        letter-spacing: 1px;
        font-size: 2.5rem;

    }

    footer {
        height: max-content;
    }

    footer .container {
        flex-direction: column-reverse;
        text-align: center;
        gap: 1rem;
    }


        /* LOGIN-HTML */

        #section-login .container {
            justify-content: center;

        }

        .container-login {
            width: 80%!important;
        }
    
        .ul__login {
            display: flex;
            border: none!important;
        }
}

@media only screen and (max-width:400px) {
    .container {
        max-width: 310px!important;
    }

    #section-three .container {
        justify-content: center;

    }
    .section-three__right {
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
    }

        /* LOGIN.HTML */

        .container-login {
            width: 90%!important;
        }

}