.section-uno__products {
    background-color: var(--letters-white);
    width: 100%;
    min-height: 80vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 30px 150px!important;

}

.main-products {
    width: 100%;
    height: 100%;
    padding: 0 2rem;
}

.main-products h1 {
  font-size: 3rem;
  font-weight: 500;
 
}



aside h3 {
    color: var(--background);
    padding: 1rem 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    font-weight: 400;
    font-size: 1.5rem;

}



.aside-products {
    width: 25%;
    height: 100%!important;
    color: var(--background);
    background-color: rgb(250, 250, 250);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.125);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 1rem;
}


/*
CATEGORY-ASIDE
ASIDE-TITTLE__CATEGORY - RIGHT 
 */
.list-aside {
    display: none;
}

.aside-tittle__category {
    padding: 1rem;
    font-weight: 700;
    font-size: 1rem;

}

.li-subcategory {
    margin-bottom: 0.2rem;
}

.category-aside {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 0!important;
    margin: 0!important;
}

.category-aside img {
    transform: scale(0.6);
}

.category-aside:hover {
    cursor: pointer;
}

.toggleBlock {
    display: block;
    color: var(--background);
    font-weight: 200;
    margin-left: 2rem;
    transition: all 10s!important;

}

.toggleIcon {
   transform: rotate(90deg) scale(0.6)!important;
   transition: all .25s;
}


.container-buttons__pag {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
}

.prevBtn {
    width: 28px;
    height: 28px;
    border-radius: 6px ;
    margin: 0;
    padding: 0;
    background-color: var(--letters-orange);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--letters-white);
}

.current-page {
    width: 25px;
    height: 25px;
    /* border: 1px solid var(--background); */
    border-radius: 7px ;
    display: flex;
    align-items: center;
    justify-content: center;

}

.nextBtn {
    width: 28px;
    height: 28px;
    border-radius: 6px ;
    background-color: var(--letters-orange);
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--letters-white);;
}

.nextBtn:hover, .prevBtn:hover {
transform: scale(0.94);
cursor: pointer;
}

.disabled {
    background-color: gray;
}