.section-uno__products {
    background-color: rgb(255, 255, 255);
    width: 100%;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;

}


body {
    position: relative
}
.section-uno__products .container {
    justify-content: flex-start;
    align-items: flex-start;
}

.main-products {
    width: 100%;
    height: 100%;
    margin-left: 2rem;
    position: relative;
    padding-bottom: 3rem;
}

.main-products h1 {
  font-size: 3rem;
  font-weight: 500;
 visibility: hidden;
}



aside h3 {
    color: var(--background);
    width: 100%;
    font-weight: 400;
    font-size: 1.5rem;
    margin-right: 1.5rem;
}



.aside-products {
    width: 350px;
    height: 100%!important;
    color: var(--background);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.125);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 1rem;
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    z-index: 90;

}


/*
CATEGORY-ASIDE
ASIDE-TITTLE__CATEGORY - RIGHT 
 */
.list-aside {
    display: none;
}

.aside-tittle__category {
    padding: 1rem;
    font-weight: 700;
    font-size: 1rem;
}

.li-subcategory {
    margin-bottom: 0.2rem;
}

.category-aside {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 0!important;
    margin: 0!important;
}

.category-aside img {
    transform: scale(0.6);
}

.category-aside:hover {
    cursor: pointer;
}

.toggleBlock {
    display: block;
    color: var(--background);
    font-weight: 200;
    margin-left: 2rem;

}

.toggleIcon {
   transform: rotate(90deg) scale(0.6)!important;
   transition: all .25s;
}




.container-buttons__pag {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    visibility: hidden;
    position: absolute;
    bottom: 0;
    right: 48%;
}

.div-tittle-aside {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    cursor: pointer;
}

.div-tittle-aside img {
    width: 26px;
    height: 26px;
    position: relative;
    top: 3px;
    display:none
}
.prevBtn {
    width: 28px;
    height: 28px;
    border-radius: 6px ;
    margin: 0;
    padding: 0;
    background-color: var(--letters-orange);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--letters-white);
}

.current-page {
    width: 25px;
    height: 25px;
    /* border: 1px solid var(--background); */
    border-radius: 7px ;
    display: flex;
    align-items: center;
    justify-content: center;

}

.nextBtn {
    width: 28px;
    height: 28px;
    border-radius: 6px ;
    background-color: var(--letters-orange);
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--letters-white);;
}

.nextBtn:hover, .prevBtn:hover {
transform: scale(0.94);
cursor: pointer;
}

.disabledBtn {
    background-color: rgba(108, 108, 108, 0.593);
    cursor: not-allowed;
}

.disabledBtnCart {
    background-color: rgba(108, 108, 108, 0.2);
    color: black;
    border: 1px solid black;
    cursor: not-allowed!important;
}

/* JS */

.productsBlock {
    display: block!important;
    right: 100px;
    width: 100%;
    background-color: rgb(253, 253, 253); */
}

.displayNone {
    display: none!important;
}

.displayBlock {
    display: block!important;
}
